.user-bio-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-img-container {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 260px;
  top: 130px;
  border-radius: 90px;
}

.user-img {
  width: 180px;
  border-radius: 100%;
}
.user-info {
}
.count-container {
  position: absolute;
  left: 3.5%;
  display: flex;
  align-items: center;
}

.user-username {
  position: absolute;
  left: 32.5%;
  right: 54.38%;
  top: 11.86%;
  bottom: 93.56%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  color: #262626;
  width: 500px;
}
.user-post-count {
  position: absolute;
  width: 63px;
  height: 24px;
  left: 444px;
  top: 155px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.user-follrs-count {
  position: absolute;
  width: 98px;
  height: 24px;
  left: 555px;
  top: 155px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.user-follng-count {
  position: absolute;
  width: 200px;
  height: 24px;
  left: 701px;
  top: 155px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.user-name {
  position: absolute;
  left: 32.5%;
  right: 52.32%;
  top: 29.3;
  bottom: 66.24%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.user-bio {
  position: absolute;
  width: 675px;
  height: 48px;
  left: 32.5%;
  top: 227px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.user-story-container {
  position: absolute;
  left: 220px;
  right: 66.32%;
  top: 45.58%;
  bottom: 55.24%;
  display: flex;
  list-style-type: none;
}
.user-story-img {
  background: #f3eadb;
  border-radius: 100%;
  width: 86px;
  margin-right: 30px;
}

.user-post-container {
  position: absolute;
  left: 13.83%;
  right: 60.32%;
  top: 74.58%;
  bottom: 20.24%;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}
.user-post-img {
  background: #f3eadb;
  width: 330px;
  height: 330px;
  margin-right: 10px;
}

.post-grid {
  display: flex;
  align-items: center;
  position: absolute;
  left: 16.83%;
  right: 60.32%;
  top: 70.58%;
  bottom: 28.24%;
}

.line {
  position: absolute;
  width: 1014px;
  height: 0px;
  left: 250px;
  top: 459px;
  border: 0.5px solid #c6c6c8;
}

.post-txt {
  width: 62px;
  height: 32px;
  left: 236px;
  top: 491px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #262626;
  margin-left: 10px;
}
.bold-count {
  font-weight: 500;
}
